.subscribe {
    max-width: 649px;
    display: flex;
    flex-direction: column;
}

.subscribe-form {
    display: flex;
    flex-direction: column;
}

.subscribe-form-container {
    display: flex;
    flex-direction: row;
}

.subscribe-label {
    min-height: 44px;

    font-size: 24px;
    font-weight: 400;
    line-height: 28.13px;
}

.subscribe-input {
    min-width: 447px;
    height: 60px;
    border-radius: 3px;
    margin-right: 33px;

    padding-left: 21px;
    /* Adjust for placeholder padding */
    padding-right: 70px;
    /* Adjust for placeholder padding */
    padding-top: 19px;
    /* Adjust for placeholder padding */
    padding-bottom: 11px;
    /* Adjust for placeholder padding */
}

.subscribe-input::placeholder {
    font-family: 'Roboto';
    font-size: 24px;
    font-weight: 400;
    line-height: 28.13px;
    color: #E5E5E5;
}

.subscribe-button {
    width: 169px;
    border: 1px solid #FFFFFF;
    border-radius: 3px;
    background-color: transparent;
    text-transform: uppercase;
    color: #E5E5E5;
}

.subscribe-socials-title {
    min-height: 29px;
    font-size: 30px;
    font-weight: 500;
    line-height: 35.16px;
    color: #FFF;
}

.subscribe-socials-icon {
    min-height: 30px;
    margin-right: 48px;
}