.destination-container {
    display: flex;
    flex-direction: column;

    margin-bottom: 31px;
}

.destination-titleContainer {
    display: flex;

    width: 293px;

    margin: 2px 35px 20px auto;
}

.destination-backward .destination-titleContainer {
    margin: 4px 35px 20px auto;
}

.titleContainer-destinationImg {
    margin-right: 12px;
}

.titleContainer-title {
    margin: 0;

    font-size: 30px;
    line-height: 35px;
}

.titleContainer-expander {
    margin: 3px 0 0 auto;

    cursor: pointer;
}

.destination-backward .titleContainer-expander {
    margin-top: 9px;
}

.destination-fromContainer,
.destination-toContainer {
    display: flex;
    flex-direction: column;

    width: 300px;
    margin: 0 34px 50px auto;
}

.destination-toContainer {
    margin-bottom: 0;
}

.fromContainer-title,
.toContainer-title {
    margin: 0 0 16px 4px;

    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
}

.destination-backward .fromContainer-title {
    margin: 0 0 16px 3px;
}

.toContainer-title {
    margin: 0 0 19px 0;

    text-align: right;
}

.destination-backward .toContainer-title {
    margin-right: 1px;
}

.hidden {
    display: none;
}

.destination-container:last-of-type {
    margin-bottom: 49px;
}

.destination-notExpanded {
    margin-bottom: 13px;
}

.destination-notExpanded:last-of-type {
    margin-bottom: 13px;
}

.destination-notExpanded .destination-titleContainer {
    margin-top: 4px;
}

.destination-notExpanded .titleContainer-expander {
    margin: 6px -1px 0 auto;
}

.destination-notExpanded:last-of-type .destination-titleContainer {
    margin-top: 0;
}
