.section-feedback {
    padding: 152px 268px 0 252px;
}

.feedback-title {
    margin-bottom: 72px;

    font-weight: 500;
    font-size: 36px;
    text-transform: uppercase;
    color: #292929;
}

.feedback-content {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-bottom: 137px;
}

.feedback-item {
    display: flex;
    flex-direction: row;
}

.feedback-item:first-child {
    width: 700px;
    margin-right: 28px;
}

.feedback-item:last-child {
    margin-top: -7px;
}

.feedback-item-title {
    margin: 24px 0 21px -6px;

    font-size: 24px;
    font-weight: 500;
}

.feedback-item-img {
    height: 206px;
    margin-right: 44px;
}

.feedback-item:last-child .feedback-item-img {
    height: 199px;
    margin-right: 42px;
}

.feedback-item-text {
    max-width: 389px;
    position: relative;

    margin: 0 0 0 -6px;

    font-weight: 300;
    font-size: 18px;
    font-style: italic;
    color: #928f94;
}

.quote-left {
    position: absolute;
    left: -16px;
    top: 0;
}

.quote-right {
    margin-left: 10px;
}

.feedback-item:first-child .quote-right {
    margin-left: 18px;
}

.feedback-footer {
    padding-bottom: 118px;
    margin: -5px 0 0 19px;

    text-align: center;
}

.feedback-footer-btn {
    height: 20px;
    width: 20px;
    margin-right: 11px;

    background: #e5e5e5;
    border: none;
    border-radius: 100%;
    cursor: pointer;
}

.feedback-footer-btn.selected {
    background: #c4c4c4;
}
